.mainContainer {
    height: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.sectionOne {
    min-height: 100vh;
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.sectionTwo {
    min-height: 100vh;
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white
}