
.container {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  scroll-snap-align: start;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */
  position: fixed;
  width: 100vw;
}

.card {
  position: absolute;
  width: 300px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-size: 24px;
}

.arrowLeft {
  position: fixed;
  top: 50%;
  left: 500px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 5;
}

.arrowRight {
  position: fixed;
  top: 50%;
  right: 500px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 5;
}

/* .card-transition {
  transition: transform 0.5s ease-in-out, z-index 0.5s ease-in-out;
}

@keyframes slide-in {
  from {
    transform: translateX(20%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
} */

.test {
  color: white  ;
}