* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

.pintura-editor {
  --color-foreground: 255, 255, 255 !important;
  --color-background: 0, 0, 0 !important;
  --editor-max-width: 650px;
  --editor-max-height: 900px;
  --editor-modal-border-radius: 10px !important;
}
