.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #21222b;
  min-height: 100vh;
}

.leftPanel {
  background-color: #21222b;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  margin: 60px 0;
}

.rightPanel {
  background-color: #373742;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 350px;
  height: 500px;
  background-color: rgb(36, 36, 36);
  border: 1px solid rgb(105, 105, 105);
  border-radius: 10px;
  overflow: hidden;
}

.cardInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: inherit;
  color: rgb(192, 192, 192);
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
}

.previewImage {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.imageAction {
  display: flex;
  align-items: center;
  padding: 25px;
  color: rgb(192, 192, 192);
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  gap: 10px;
}

.imageButton {
  background: none;
  border: none;
  cursor: pointer;
}

.overlayEditor {
  width: 350px;
  height: 500px;
}

.form {
  display: flex;
  flex-direction: column;
  flex: 2;
  gap: 16px;
  margin-top: 20px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
}

.customLabel {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-bottom: 3px;
  color: #f7f7f7;
}

.labelText {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
}

.textArea {
  font-size: 16px;
  font-weight: 300;
  background: #373742;
  border: none;
  min-height: 60px;
  color: #f7f7f7;
  resize: none;
  border-radius: 8px;
  width: calc(100% - 24px);
  padding: 12px;
}

.fileUploadWrapper {
  height: 276px;
  border-radius: 12px;
  background-color: #373742;
  border: 1px dashed #6a7d8e;
}

.fileInputLabel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 10px;
  text-align: center;
}

.imageContainer {
  width: 300px;
  height: 500px;
  background-size: cover;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
}

.editorContainer {
  width: 500px;
  height: 700px;
  background-size: cover;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
}

.imageContainer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #131315 12%, rgba(18, 18, 20, 0.36) 50%, #131315 100%);
  border-radius: 12px;
}

.imageContainerHeader {
    padding: 15px;
    border-radius: 12px 12px 0 0;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: #f7f7f7;
}

.imageText {
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    height: fit-content;
    margin: auto;
    padding: 15px;
    z-index: 1;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    color: #f7f7f7;
}

.videoPlayer {
  width: 300px !important;
  height: 500px !important;
}

